* {
  font-family: 'Source Sans Pro', sans-serif;
}

.app-main {
  background-image: url('/static/frontend/img/fondo.svg');
  background-repeat: repeat;
  height: 'fit-content';
  padding: 0;
}

/* ALL */
.lazy-load-image-loaded {
  min-width: 100%;
}

.progress {
  z-index: 12;
  position:fixed;
  top: 0;
  width: 100%;
}

.react-datepicker-wrapper, .react-datepicker-wrapper input {
  display: block !important;
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
}
